.vs/
lib/
bin/
zbin/
obj/
*.user
launchSettings.json
artifacts/
msbuild.binlog
.vscode/
packages/
/src/BlazorMobile.Build/tools/netcoreapp3.0
/src/BlazorMobile.Build.Android/tools/netcoreapp3.0
AppPackages/
BundleArtifacts/