@page "/counter"
@using System.Threading.Tasks
<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button onclick="@(async() => await IncrementCount())">Click me</button>

@functions {
    int currentCount = 0;

    private async Task IncrementCount()
    {
        currentCount++;
    }
}
