@page "/counter"
@using Daddoon.Blazor.Xam.Common
@using Daddoon.Blazor.Xam.InteropApp.Common.Interfaces
@inject IXamarinBridge XamarinBridge

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" onclick="@IncrementCount">Click me</button>
<button class="btn btn-primary" onclick="@AlertMe">Alert me</button>

@functions {
    int currentCount = 0;

    void IncrementCount()
    {
        Console.WriteLine("IncrementCount !");
        currentCount++;
    }

    async void AlertMe()
    {
        Console.WriteLine("AlertMe clicked !");
        await XamarinBridge.DisplayAlert("Platform identity", $"Current platform is {Device.RuntimePlatform}", "Great!");
    }
}
