@page "/inputtest"
@using BlazorMobile.InteropBlazorApp.Components

<h1>Input test for Android</h1>

<BigInput></BigInput>
<BigInput></BigInput>
<BigInput></BigInput>
<BigInput></BigInput>
<BigInput></BigInput>
<BigInput></BigInput>
<BigInput></BigInput>
<BigInput></BigInput>
<BigInput></BigInput>
<BigInput></BigInput>
<input type="text" />

@code {

}
