@page "/counter"
@using BlazorMobile.Common
@using BlazorMobile.InteropApp.Common.Interfaces
@using BlazorMobile.Common.Services
@inject IXamarinBridge XamarinBridge
@implements IDisposable

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<button class="btn btn-primary" @onclick="AlertMe">Alert me</button>
<button class="btn btn-primary" @onclick="FaultyTaskCall">Fault Task call</button>
<button class="btn btn-primary" @onclick="PostMessageTest">Remote PostMessage Test</button>
<button class="btn btn-primary" @onclick="CallJSInvokableMethodTest">Remote CallJSInvokableMethod Test</button>

@code {
    int currentCount = 0;

    private static IXamarinBridge XamarinBridgeGlobal = null;

    void IncrementCount()
    {
        Console.WriteLine("IncrementCount !");
        currentCount++;
    }

    async void AlertMe()
    {
        Console.WriteLine("AlertMe clicked !");
        await XamarinBridge.DisplayAlert("Platform identity", $"Current platform is {BlazorDevice.RuntimePlatform}", "Great!");
    }

    async void FaultyTaskCall()
    {
        try
        {
            await XamarinBridge.CallFaultyTask();
        }
        catch (Exception ex)
        {
            await XamarinBridge.DisplayAlert("Call faulty task", $"{ex.Message}", "OK");
            Console.WriteLine($"{ex.Message}");
        }
    }

    public async void OnMessageReceived(object[] payload)
    {
        string testValue = (string)payload[0];

        await XamarinBridge.DisplayAlert("Message received!", testValue, "OK");
    }

    async void PostMessageTest()
    {
        try
        {
            BlazorMobileService.MessageSubscribe("PostMessageTest", OnMessageReceived);

            await XamarinBridge.TriggerPostMessageTest();
        }
        catch (Exception ex)
        {
            await XamarinBridge.DisplayAlert("PostMessageTest", $"{ex.Message}", "OK");
            Console.WriteLine($"{ex.Message}");
        }
    }

    [JSInvokable]
    public static void InvokableMethodTest(object[] payload)
    {
        string testValue = (string)payload[0];

        XamarinBridgeGlobal.DisplayAlert("JSInvoke received!", testValue, "OK");
    }

    async void CallJSInvokableMethodTest()
    {
        XamarinBridgeGlobal = XamarinBridge;

        try
        {
            await XamarinBridge.TriggerJSInvokableTest();
        }
        catch (Exception ex)
        {
            await XamarinBridge.DisplayAlert("CallJSInvokableMethodTest", $"{ex.Message}", "OK");
            Console.WriteLine($"{ex.Message}");
        }
    }

    public void Dispose()
    {
        BlazorMobileService.MessageUnsubscribe("PostMessageTest", OnMessageReceived);
    }
}
