@page "/externallinktest"
@using BlazorMobile.InteropBlazorApp.Components

<h1>External Link Test</h1>

<a href="https://www.google.fr">My test</a>
<a href="https://www.google.fr" target="_blank">My test (New window)</a>

@code {

}
