@page "/"
@namespace BlazorMobile.InteropBlazorApp.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using BlazorMobile.Common.Services
@using BlazorMobile.Common
@using BlazorMobile.Common.Components

<!DOCTYPE html>
<html lang="fr-fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no" />
    <title>Blazor Server App</title>
    <base href="~/" />
    <environment include="Development">
            <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
        </environment>
        <environment exclude="Development">
            <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
        </environment>
    <link rel="stylesheet" href="css/site.css" />
</head>
<body>
    <blazorXamarin></blazorXamarin>
    <app>@(await Html.RenderComponentAsync<App>())</app>
    <script type="text/javascript" src="js/blazor.polyfill.js"></script>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
